{{!< default}}
{{!-- Hebrew index variant --}}

<main class="gh-main">
    {{> "components/post-list" feed="index" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar postFilter="tag:[hash-he]" latestLabel="האחרונים" seeAllLabel="הצג הכל" seeAllUrl="/he/page/2/"}}
</main>